@mixin btn {
  background-color: $add-bg-color;
  color: $base-bg-color;
  text-decoration: none;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: #94b9d2;
  }

  &:disabled {
    background-color: $gray;
  }
}

@mixin clearfix() {

  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

@mixin container() {
  width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1200px;
  }
}

@mixin container-fluid() {
  width: auto;

  @media #{$tablet-widths} {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

}

@mixin right-line() {

  @media #{$tablet-widths} {
    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 0px;
      
      width: 1px;
      height: 292px;
      
      background-color: #dbdbdb;
    }
  }
  
  @media #{$desktop-widths} {
  
    &::after {
      top: 5px;
      right: -1px;

      height: 292px;
    }
  }
}

@mixin title-lines() {

  @media #{$tablet-widths} {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      
      width: 125px;
      height: 2px;
      
      background-color: #dbdbdb;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      
      width: 125px;
      height: 2px;
      
      background-color: #dbdbdb;
    }
  }
  @media #{$desktop-widths} {
  
    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }
}
