body {
  min-width: 320px;

  @include set-font ($base-font-size, $base-font-size*1.5);
  font-family: PTsans, sans-serif;

  background: $base-bg-color;
  color: #000000;
  text-transform: uppercase;
}

p,
h1,
h2,
h3{
  margin: 0;
  padding: 0;
}
