.content-header {
  padding: 40px 25px 42px;
  padding: 40px 25px 27px;

  font: 14px / 26px $base-font;
  text-align: center;

  background-color: $base-bg-color;

  &--inner {
    padding: 38px 25px 17px;
  }

  &--inner-form {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content-header__title {
  margin-bottom: 27px;

  font: bold 18px / 26px $base-font;

  &--inner {
    margin-bottom: 26px;
  }
}

.content-header__description {

  &--inner {
    line-height: 24px;
  }
}

/*---------------ПЛАНШЕТ----------------------*/

@media #{$tablet-widths} {
  .content-header {
    padding: 50px 130px;

    &--inner {
      padding: 74px 165px 29px;
    }
  }

  .content-header__title {
    font-size: 21px;

    &--inner {
      margin-bottom: 31px;

      font-size: 30px;
    }
  }
}

/*--------------ДЕКСТОП---------------------------*/

@media #{$desktop-widths} {
  .content-header {
    padding: 50px 350px 52px;

    &--inner {
      padding: 112px 380px 71px;
    }
  }

  .content-header__title {

    &--inner {
      margin-bottom: 30px;
    }
  }
}
