.content-header {
  padding: 46px 0 32px 0;

  font: 14px / 26px $base-font;
  text-align: center;

  background-color: $base-bg-color;
  outline: 1px solid green;
}

.content-header__wrapper {
  padding: 0 30px;
}

.content-header__title {
  margin-bottom: 42px;

  font: bold 18px / 26px $base-font;
}

@media #{$tablet-widths} {
  .content-header__wrapper {
    padding: 0 165px;
  }

  .content-header__title {
    font: bold 21px / 26px $base-font;

    &--inner {
      font-size: 30px;
    }
  }
}

@media #{$desktop-widths} {
  .content-header__wrapper {
    padding: 0 380px;
  }
}
