.hotel-features {
  background-color: $base-bg-color;
}

.hotel-features__list {
}

//---------------ПЛАНШЕТ----------------------

@media #{$tablet-widths} {
  .hotel-features__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
