.hotel-videos {
  text-align: center;

  outline: 1px solid green;
}

.hotel-videos__header {
  padding: 40px 25px;
}

.hotel-videos__title {
  margin-bottom: 40px;

  font: bold 18px / 26px $base-font;
}

.hotel-videos__description {
  font: 14px / 24px $base-font;
}

@media #{$tablet-widths} {
  .hotel-videos {
    padding-bottom: 40px;
  }

  .hotel-videos__header {
    padding: 40px 165px;
  }

  .hotel-videos__title {
    font-size: 30px;
  }
}

@media #{$desktop-widths} {
  .hotel-videos__header {
    padding: 40px 390px;
  }
}
