.hotel-photo {
  padding: 22px 20px 16px;
  box-sizing: border-box;

  border-top: 1px solid $gray;

  &:last-child {
    border-bottom: 1px solid $gray;
  }
}

.hotel-photo__image {
  margin-bottom: 10px;
  width: 100%;
}

.hotel-photo__title {
  margin-bottom: 1px;

  font: bold 14px / 24px $base-font;
}

.hotel-photo__author {
  margin-bottom: 10px;

  text-transform: none;
}

.hotel-photo__description {
  position: relative;
}

.hotel-photo__likes {
  position: relative;

  padding-left: 36px;

  font: bold 14px / 24px $base-font;

  color: #000000;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;

    width: 25px;
    height: 25px;

    background: url(../img/icon-like.svg) no-repeat 0 -1px;
  }
}

/*-----------------ПЛАНШЕТ--------------------*/

@media #{$tablet-widths} {
  .hotel-photo {
    padding: 0;
    width: 50%;

    border: none;

    img {
      height: 267px;
    }

    &:first-child {
      width: 100%;

      background-color: $gray-dark;

      img {
        height: 400px;
      }
    }

    &:nth-child(2n) {
      background-color: $gray-dark;
    }

    &:nth-child(2n+1) {
      background-color: #eaeaea;
    }
  }

  .hotel-photo__description {
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content:stretch;
    padding: 0 20px;
    margin-bottom: 8px;
  }

  .hotel-photo__description-title-author {
    order: 1;
  }

  .hotel-photo__likes {
    order: 2;
    align-self: center;
    width: 34px;
    padding-bottom: 6px;

    text-align: left;

    &::before {
      top: 0;
      left: 5px;
    }
  }
}

/*-----------------ДЕСКТОП--------------------*/

@media #{$desktop-widths} {
  .hotel-photo {
    position: relative;

    padding: 0;
    width: 400px;
    height: 267px;

    &:first-child {
      width: 100%;
      height: 400px;
    }
  }

  .hotel-photo__image {
    margin-bottom: 0;
  }

  .hotel-photo__description {
    position: absolute;
    bottom: 0;

    padding: 18px 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;

    color: $base-bg-color;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .hotel-photo__author {
    margin-bottom: 0;
  }

  .hotel-photo__likes {
    color: $base-bg-color;
    margin-top: 3px;
    padding-bottom: 0;

    &::before {
      background-image: url(../img/icon-like-desktop.svg);
    }
  }
}
