.hotel-video {
  position: relative;

  &__scroll {
    position: relative;
    top: -50px;

    margin: 0 auto;
    width: 280px;
    height: 45px;

    background-color: #000000;
    opacity: 0.6;
  }

  &__scroll-line {
    position: absolute;
    top: 45%;
    left: 8%;

    width: 235px;
    height: 3px;

    background-color: #ffffff;
    opacity: 0.2;
  }

  &__scroll-toggle {
    position: absolute;
    top: 39%;
    left: 20%;

    width: 9px;
    height: 9px;

    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }

  &__controls {
    position: relative;
    top: -50px;

    margin: 0 auto;
    width: 280px;
    height: 66px;

    background-color: #f2f2f2;

    button {
      display: inline-block;
      width: 20px;
      height: 20px;
      padding-bottom: 65px;

      vertical-align: center;

      background-color: #f2f2f2;
      outline: none;
      border: none;
      cursor: pointer;
    }
  }

  &__replay {
    float: left;
    padding-left: 50px;

    background: url(../img/icon-video-replay.svg) no-repeat center;
  }

  &__subtitles {
    float: right;
    padding-right: 50px;

    background: url(../img/icon-video-subtitles.svg) no-repeat center;
  }

  &__fullscreen {
    float: right;
    padding-right: 50px;

    background: url(../img/icon-video-fullscreen.svg) no-repeat center;
  }
}
