.hotel-videos {
  padding-bottom: 100px;

  text-align: center;
}

.hotel-videos__header {
  padding: 33px 25px 35px;
}

.hotel-videos__title {
  margin-bottom: 26px;

  font: bold 18px / 26px $base-font;
}

.hotel-videos__description {
  font: 14px / 24px $base-font;
}

/*-----------------ПЛАНШЕТ--------------------*/

@media #{$tablet-widths} {
  .hotel-videos {
    padding-bottom: 40px;
  }

  .hotel-videos__header {
    padding: 26px 165px 73px;
  }

  .hotel-videos__title {
    margin-bottom: 30px;

    font-size: 30px;
  }
}

/*-----------------ДЕСКТОП--------------------*/

@media #{$desktop-widths} {
  .hotel-videos {
    padding-bottom: 86px;
  }

  .hotel-videos__header {
    padding: 70px 390px 72px;
  }
}
