.hotel-video {
  position: relative;

  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.hotel-video__controls {
  position: relative;
  top: -51px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px;

  background-color: $gray-dark;

  button {
    width: 20px;
    height: 20px;
    padding: 30px 30px 35px 30px;

    outline: none;
    border: none;
    cursor: pointer;
  }
}

.hotel-video__scroll {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;

  background-color: #000000;
  opacity: 0.6;
}

.hotel-video__scroll-line {
  width: 85%;
  height: 3px;

  background-color: $base-bg-color;
  opacity: 0.2;
}

.hotel-video__scroll-toggle {
  position: absolute;
  left: 100px;

  width: 9px;
  height: 9px;

  background-color: $base-bg-color;
  border-radius: 50%;
  cursor: pointer;
}

.hotel-video__replay {
  background: url(../img/icon-video-replay.svg) no-repeat center;
}

.hotel-video__subtitles {
  margin-left: auto;
  background: url(../img/icon-video-subtitles.svg) no-repeat center;
}

.hotel-video__fullscreen {
  background: url(../img/icon-video-fullscreen.svg) no-repeat center;
}

@media #{$tablet-widths} {
  .hotel-video {
    width: 650px;
    height: 500px;
  }

  .hotel-video__controls {
    position: absolute;
    bottom: 0;
    top: auto;

    width: 100%;
    margin: 0;
    box-sizing: border-box;

    background-color: #000000;
    opacity: 0.6;
  }

  .hotel-video__scroll {
    order: 2;
    width: 72%;
    height: 93px;
    margin: 0;
    box-sizing: border-box;
  }

  .hotel-video__scroll-line {
    width: 90%;
  }

  .hotel-video__scroll-toggle {
    top: 46%;
    left: 30%;
  }

  .hotel-video__replay {
    order: 1;
  }

  .hotel-video__subtitles {
    order: 3;
  }

  .hotel-video__fullscreen {
    order: 4;
  }


}

@media #{$desktop-widths} {
  .hotel-video {
    width: 800px;
    height: 500px;
  }

  .hotel-video__scroll {
    width: 77%;
  }
}
