.hotel-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-top: 10px;
}

/*-----------------ПЛАНШЕТ--------------------*/

@media #{$tablet-widths} {
  .hotel-photos {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px 60px;
  }
}

/*-----------------ДЕСКТОП--------------------*/

@media #{$desktop-widths} {
  .hotel-photos {
    padding: 0;
  }
}
