.hotel-feature {
  text-align: center;

  border-bottom: 1px solid #d6d6d6;

  &:last-child {
    border: none;
  }
}

.hotel-feature__text {
  padding: 27px 35px;

  background-color: #eeeeee;

  &--photo {
    padding: 40px 20px 39px;

    background-color: $add-bg-color;
    color: $base-bg-color;
  }

  &--left {
    padding-top: 55px;

    background-image: url(../img/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center -22px;
    background-size: 100%;
  }
}

.hotel-feature__name {
  margin-bottom: 8px;

  font: bold 18px / 26px $base-font;
}

.hotel-feature__number {
  margin-bottom: 16px;
}

.hotel-feature__photo-container {
  min-height: 260px;
  height: auto;

  background-color: $add-bg-color;
}

.hotel-feature__photo {
  width: 320px;
  height: 260px;

  img {
    display: block;
  }
}

/*---------------ПЛАНШЕТ----------------------*/

@media #{$tablet-widths} {
  .hotel-feature {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

    border: none;
  }

  .hotel-feature__text {
    width: 256px;
    padding: 46px 50px 43px;
    box-sizing: border-box;

    &--photo {
      padding-left: 45px;
      padding-right: 45px;
    }

    &--road {
      padding-left: 55px;
      padding-right: 55px;
    }

    &--left {
      background-image: none;
    }

    &--right {
      order: 2;
    }
  }

  .hotel-feature__name {
    padding: 0 7px;
    margin-bottom: 9px;

    font: bold 21px / 26px $base-font;
  }

  .hotel-feature__number {
    margin-bottom: 22px;
  }

  .hotel-feature__photo-container {
    min-height: 256px;
  }

  .hotel-feature__photo {
    width: 512px;
    height: 256px;
  }
}

/*--------------ДЕКСТОП---------------------------*/

@media #{$desktop-widths} {
  .hotel-feature__text {
    width: 400px;
    padding: 45px 65px 65px;

    &--right {
      padding: 52px 85px 58px;
    }

    &--left {
      padding: 52px 60px 58px;
    }

    &--square {
      padding: 45px 65px 65px;
    }
  }

  .hotel-feature__name {
    padding: 0 60px;

    &--photo {
      padding: 0 35px;
    }
  }

  .hotel-feature__number {
    margin-bottom: 21px;
  }

  .hotel-feature__photo {
    width: 800px;

    overflow: hidden;

    &--right {
      img {
        transform: translate(0, -72px);
      }
    }

    &--left {
      img {
        transform: translate(0, -77px);
      }
    }
  }
}
