.hotel-services {
  padding: 10px 20px 0;
  margin: 0;

  text-align: left;

  list-style: none;
}

.hotel-services__item {
  padding-left: 50px;
  padding-top: 25px;
  margin-bottom: 3px;

  &--housing {
    background: url(../img/icon-house.svg) no-repeat 0 16px;
    background-size: 14%;
  }

  &--souvenirs {
    background: url(../img/icon-gift.svg) no-repeat 4px 13px;
    background-size: 12%;
  }

  &--food {
    background: url(../img/icon-burger.svg)no-repeat -1px 19px;
    background-size: 14%;
  }

  &:last-child {
    padding-bottom: 32px;
  }
}

.hotel-services__name {
  margin-bottom: 14px;

  font: bold 18px / 26px $base-font;
}

/*----------------ПЛАНШЕТ------------------*/

@media #{$tablet-widths} {
  .hotel-services {
    display: flex;
    flex-direction: row;

    padding: 0;
  }

  .hotel-services__item {
    width: 166px;
    padding: 160px 45px 57px;

    text-align: center;
    vertical-align: top;

    background-position: center 62px;
    background-size: 30%;

    &--souvenirs {
      order: 3;

      background-position: center 57px;
      background-size: 25%;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .hotel-services__name {
    margin-bottom: 21px;

    font-size: 21px;
  }
}

/*----------------ДЕСКТОП------------------*/

@media #{$desktop-widths} {
  .hotel-services__item {
    width: 270px;
    padding: 160px 65px 78px;

    background-size: 19%;

    &--housing {
      background-position: center 60px;
    }

    &--souvenirs {
      background-size: 16%;
    }
  }
}
