.hotel-video {
  position: relative;

  margin: 0 auto;

  img {
    width: 100%;
    height: 100%;
  }
}

.hotel-video__controls {
  position: absolute;
  top: 156px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px;
  width: 280px;

  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 40%, $gray-dark 40%);

  button {
    width: 35px;
    height: 35px;
    margin-top: 17px;
    margin-bottom: 16px;

    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover {
      .hotel-video-button-fill {
        fill: #333333;
      }
    }

    &:active {
      .hotel-video-button-fill {
        fill: #c1c1c1;
      }
    }
  }
}

.hotel-video__scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;

  background-color: rgba(0, 0, 0, 0.6);
}

.hotel-video__scroll-line {
  width: 85%;
  height: 3px;

  background-color: $base-bg-color;
  opacity: 0.2;
}

.hotel-video__scroll-toggle {
  position: absolute;
  top: 18px;
  left: 58px;

  width: 9px;
  height: 9px;

  background-color: $base-bg-color;
  border-radius: 50%;
  cursor: pointer;
}

.hotel-video__replay {
  margin-left: 15px;
}

.hotel-video__subtitles {
  margin-left: 92px;
}

.hotel-video__fullscreen {
  margin-right: 16px;
}

/*------------------ПЛАНШЕТ------------------*/

@media #{$tablet-widths} {
  .hotel-video {
    width: 650px;
    height: 500px;
  }

  .hotel-video__controls {
    position: absolute;
    bottom: 0;
    top: auto;

    width: 100%;
    margin: 0;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0.6);
    background-image: none;
  }

  .hotel-video-button-fill {
    fill: #ffffff;
  }

  .hotel-video__scroll {
    order: 2;
    width: 59%;
    height: 93px;
    margin: 0;
    box-sizing: border-box;

    background-color: rgba(0, 0, 0, 0);
  }

  .hotel-video__scroll-line {
    width: 100%;
  }

  .hotel-video__scroll-toggle {
    top: 45%;
    left: 32%;
  }

  .hotel-video__replay {
    order: 1;
    margin-left: 26px;
    margin-right: 10px;
  }

  .hotel-video__subtitles {
    order: 3;
    margin-left: 14px;
  }

  .hotel-video__fullscreen {
    order: 4;
    margin-right: 35px;
  }
}

/*------------------ДЕСКТОП------------------*/

@media #{$desktop-widths} {
  .hotel-video {
    width: 800px;
    height: 500px;
  }

  .hotel-video__controls {
    justify-content: flex-start;
  }

  .hotel-video__scroll {
    width: 68%;
    margin-right: 37px;
  }

  .hotel-video__scroll-line {
    width: 100%;
  }

  .hotel-video__scroll-toggle {
    left: 26%;
  }

  .hotel-video__replay {
    margin-left: 24px;
    margin-right: 28px;
  }

  .hotel-video__subtitles {
    margin-left: 0;
  }

  .hotel-video__fullscreen {
    margin-left: auto;
  }
}
