.hotel-map {
  height: 350px;

  text-align: center;

  outline: 1px solid green;
}

@media #{$tablet-widths} {
  .hotel-map {
    img {
      width: 768px;
    }
  }
}

@media #{$desktop-widths} {
  .hotel-map {
    img {
      width: 1200px;
    }
  }
}
