.hotel-offer {
  padding: 27px 20px 50px 20px;

  font: 14px / 24px $base-font;
  text-align: center;
}

.hotel-offer__title {
  margin-bottom: 19px;

  font: bold 21px / 26px $base-font;
}

.hotel-offer__description {
  margin-bottom: 36px;
}

.hotel-offer__find {
  display: block;
  padding: 16px 0;

  font: bold 21px / 26px $base-font;

  @include btn();
}

/*----------------ПЛАНШЕТ------------------*/

@media #{$tablet-widths} {
  .hotel-offer {
    padding: 56px 155px 58px;
  }

  .hotel-offer__title {
    margin-bottom: 31px;

    font-size: 30px;
  }

  .hotel-offer__description {
    margin-bottom: 43px;
  }
}

/*----------------ДЕСКТОП------------------*/

@media #{$desktop-widths} {
  .hotel-offer {
    padding-left: 370px;
    padding-right: 370px;
    padding-bottom: 65px;
  }

  .hotel-offer__title {
    margin-bottom: 30px;
  }

  .hotel-offer__description {
    margin-bottom: 47px;
  }
}
