.page-footer {
  padding: 36px 75px 23px 75px;

  font: 14px / 26px $base-font;
  text-align: center;
}

.page-footer__hashtag {
  margin-bottom: 36px;

  font: bold 21px / 26px $base-font;
}

.page-footer__copyright {
  display: inline-block;
  padding-left: 5px;

  vertical-align: middle;

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-left: 2px;

    font-size: 0;
    vertical-align: top;

    background: url(../img/htmlacademy.svg) no-repeat center;
  }
}

/*----------------ПЛАНШЕТ------------------*/

@media #{$tablet-widths} {
  .page-footer {
    @include clearfix();

    padding: 35px 60px 0;
  }

  .page-footer__hashtag {
    float: left;
    margin: 10px 111px 0 0;
  }

  .page-footer__copyright {
    float: right;
    margin-top: 10px;
    margin-right: -6px;
  }
}

/*----------------ДЕСКТОП------------------*/

@media #{$desktop-widths} {
  .page-footer {
    @include clearfix();

    padding-left: 150px;
  }

  .page-footer__hashtag {
    margin: 11px 255px 0 -18px;
  }

  .page-footer__copyright {
    margin-right: -23px;
  }
}
