.page-header {
  position: relative;

  background-color: $base-bg-color;
}

.page-header__nav-controls {
  min-height: 55px;

  box-shadow: 0 10px 40px 0px #000000;
}

.page-header__nav-toggle {
  margin: 6px 0 9px 268px;
  width: 40px;
  height: 40px;

  font-size: 0;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;

  &--open {
    background-image: url(../img/icons/icon-menu.svg);
  }

  &--close {
    position: absolute;
    top: 2px;
    left: 0;

    background-image: url(../img/icons/icon-cross.svg);
  }
}

.page-header__logo {
  position: absolute;
  left: 109px;

  width: 102px;
  height: 83px;

  &--opened-menu {
    top: 223px;
  }

  &--closed-menu {
    top: 0;
  }
}

.page-header__photo {
  height: 389px;

  background-color: #e4f1f9;
  background-image: url(../img/bg-intro-triangle-mobile.svg),
                    url(../img/text-sedona-index.svg),
                    url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center 91px, center;
  background-size: 105%, 88%, cover;
}

.page-header__photo-inner {
  height: 158px;

  background-color: #e4f1f9;
  background-image: url(../img/bg-intro-triangle-mobile.svg),
                    url(../img/text-sedona.svg),
                    url(../img/bg-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center bottom, center 51px, -224px -231px;
  background-size: 105%, 71%, 240%;
}

@media  (max-width: 767px) and (min-resolution: 144dpi),
        (max-width: 767px) and (min-resolution: 1.5dppx) {
  .page-header__photo {
    background-image: url(../img/bg-intro-triangle-mobile.svg),
                      url(../img/text-sedona-index.svg),
                      url(../img/bg-back-mobile@2x.jpg);
  }

  .page-header__photo-inner {
    background-image: url(../img/bg-intro-triangle-mobile.svg),
                      url(../img/text-sedona.svg),
                      url(../img/bg-back-mobile@2x.jpg);
  }
}

/*---------------ПЛАНШЕТ----------------------*/

@media #{$tablet-widths} {
  .page-header__logo {
    top: 0;
    left: 333px;
  }

  .page-header__nav-controls {
    display: none;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__photo {
    height: 518px;

    background-image: url(../img/bg-intro-triangle-tablet.svg),
                      url(../img/text-sedona-index.svg),
                      url(../img/bg-back-tablet@1x.jpg);
    background-position: center bottom, center 77px, center;
    background-size: 100%, 60%, cover;
  }

  .page-header__photo-inner {
    height: 290px;

    background-image: url(../img/bg-intro-triangle-tablet.svg),
                      url(../img/text-sedona.svg),
                      url(../img/bg-back-tablet@1x.jpg);
    background-position: center bottom, center 94px, 0px -228px;
    background-size: 100%, 60%, 100%;
  }
}

@media  (min-width: 768px) and (min-resolution: 144dpi),
        (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__photo {
      background-image: url(../img/bg-intro-triangle-tablet.svg),
                        url(../img/text-sedona-index.svg),
                        url(../img/bg-back-tablet@2x.jpg);
    }

    .page-header__photo-inner {
      background-image: url(../img/bg-intro-triangle-tablet.svg),
                        url(../img/text-sedona.svg),
                        url(../img/bg-back-tablet@2x.jpg);
    }
}

/*--------------ДЕКСТОП---------------------------*/

@media #{$desktop-widths} {
  .page-header__logo {
    width: 188px;
    height: 96px;
    margin-left: 172px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .page-header__photo {
    background-image: url(../img/bg-intro-triangle-desktop.svg),
                      url(../img/text-sedona-index.svg),
                      url(../img/bg-back-desktop@1x.jpg);
    background-position: center bottom, center 76px, center;
    background-size: 1203px, 39%, cover;

  }

  .page-header__photo-inner {
    height: 301px;

    background-image: url(../img/bg-intro-triangle-desktop.svg),
                      url(../img/text-sedona.svg),
                      url(../img/bg-back-desktop@1x.jpg);
    background-position: center bottom, center 102px, 0px -217px;
    background-size: 1203px, 38%, 100%;
  }
}

@media  (min-width: 1200px) and (min-resolution: 144dpi),
        (min-width: 1200px) and (min-resolution: 1.5dppx) {
    .page-header__photo {
      background-image: url(../img/bg-intro-triangle-desktop.svg),
                        url(../img/text-sedona-index.svg),
                        url(../img/bg-back-desktop@2x.jpg);
    }

    .page-header__photo-inner {
      background-image: url(../img/bg-intro-triangle-desktop.svg),
                        url(../img/text-sedona.svg),
                        url(../img/bg-back-desktop@2x.jpg);
    }
}
