.page-header {
  position: relative;

  background-color: $base-bg-color;
}

.page-header__nav-toggle {
  margin: 6px 0 9px 268px;
  width: 40px;
  height: 40px;

  font-size: 0;

  background: $base-bg-color url(../img/icon-menu.svg) no-repeat center;
  border: none;
  outline: none;
  cursor: pointer;
}

.page-header__logo {
  position: absolute;
  top: 223px;
  left: 50%;

  margin-left: -51px;
}

.page-header__photo {
  height: 389px;

  background: url(../img/text-sedona-index.svg) no-repeat center 91px,
    url(../img/bg-back-mobile@1x.jpg) no-repeat center;
  background-size: 88%, auto;
}

.page-header__photo-inner {
  height: 158px;

  background: url(../img/text-sedona.svg) no-repeat center 51px,
                    url(../img/bg-back-mobile@1x.jpg) no-repeat -237px -247px;
  background-size: 71%, 252%;
}

/*---------------ПЛАНШЕТ----------------------*/

@media #{$tablet-widths} {
  .page-header__logo {
    top: -1px;
  }

  .page-header__nav-toggle {
    display: none;
  }

  .page-header__photo {
    height: 518px;

    background-size: 60%, 133%;
    background-position: center 77px, center;
  }

  .page-header__photo-inner {
    height: 290px;

    background-position: center 94px,
                          -237px -247px;
    background-size: 60%, 160%;
  }
}

/*--------------ДЕКСТОП---------------------------*/

@media #{$desktop-widths} {
  .page-header__photo {
    background-size: 39%, 100%;
    background-position: center 76px, center;
  }

  .page-header__photo-inner {
    height: 301px;

    background-position: center 102px,
                          -237px -247px;
    background-size: 38%, 160%;
  }
}
