.page-footer {
  padding: 40px 85px 23px 85px;

  font: 14px / 26px $base-font;
  text-align: center;

  outline: 1px solid green;
}

.page-footer__hashtag {
  margin-bottom: 42px;

  font: bold 21px / 26px $base-font;
}

.page-footer__copyright {
  display: inline-block;

  vertical-align: middle;

  a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: -5px;

    font-size: 0;
    vertical-align: top;

    background: url(../img/htmlacademy.svg) no-repeat center;
  }
}

@media #{$tablet-widths} {
  .page-footer {
    @include clearfix();

    padding: 40px 60px 0 60px;;
  }

  .page-footer__hashtag {
    float: left;
    margin: 10px 100px 0 0;
  }

  .page-footer__copyright {
    float: right;
    margin-top: 10px;
  }
}

@media #{$desktop-widths} {
  .page-footer {
    @include clearfix();

    padding-left: 150px;
  }

  .page-footer__hashtag {
    margin: 10px 240px 0 0;
  }
}
