.social-link {
  display: block;
  width: 46px;
  height: 48px;

  font-size: 0;

  background-color: $add-bg-color;

  @include btn();

  &--tw {
    .social-link__icon {
      width: 18px;
      height: 18px;
      margin: 14px auto;
    }
  }

  &--fb {
    .social-link__icon {
      width: 18px;
      height: 18px;
      margin: 14px auto;
    }
  }

  &:active {
    .social-link__icon {
      fill: #88b6d1;
    }
  }
}

.social-link__icon {
  width: 20px;
  height: 20px;
  margin: 13px auto;

  fill: #ffffff;
}
