.social-link {
  display: block;
  width: 46px;
  height: 48px;

  font-size: 0;

  background-color: $add-bg-color;

  @include btn();

  svg {
    width: 20px;
    height: 20px;
    margin: 13px auto;
  }

  &--tw {
    svg {
      width: 18px;
      height: 18px;
      margin: 14px auto;
    }
  }

  &--fb {
    svg {
      width: 18px;
      height: 18px;
      margin: 14px auto;
    }
  }

  &:active {
    .social-link-fill {
      fill: #88b6d1;
    }
  }
}
